@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

nav {
  width: 100%;
  padding-top: 20px;
  position: absolute;
  top: 0px;
  color: #fff;
  z-index: 10900;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin: 20px;
  padding: 5px 15px;
  border-radius: 20px;
  background: rgb(31, 31, 31);
}
nav a:hover {
  background: #fff;
  color: black;
}

header {
  width: 100%;
  position: relative;
}
header .bg {
  width: 100%;
  background-color: #000;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
header .bg img {
  height: 100%;
  float: right;
  position: relative;
}
@media (max-width: 650px) {
  header .bg img {
    left: 250px;
  }
}
header .con {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .text {
  color: white;
  text-align: center;
}
header .text .ti {
  font-size: 30px;
  font-family: "Dancing Script", cursive;
}
header .text h1 {
  font-size: 70px;
}
header .text .typetext {
  padding: 10px;
  font-size: 20px;
}

.links {
  position: fixed;
  bottom: 40px;
  left: 40px;
  z-index: 100;
}
@media (max-width: 650px) {
  .links {
    bottom: 25px;
    left: 25px;
  }
}
.links .con .lisks ol {
  list-style: none;
  color: #fff;
  height: 230px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 650px) {
  .links .con .lisks ol {
    height: 160px;
  }
}
.links .con .lisks ol li {
  width: 40px;
  border: 2px solid #fff;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s linear;
}
@media (max-width: 650px) {
  .links .con .lisks ol li {
    width: 30px;
    height: 30px;
  }
}
.links .con .lisks ol li:hover {
  background-color: rgba(255, 255, 255, 0.1921568627);
}
.links .con .lisks ol li a {
  color: #fff;
  font-size: 22px;
}
@media (max-width: 650px) {
  .links .con .lisks ol li a {
    font-size: 16px;
  }
}

.about {
  width: 100%;
  position: relative;
  background-color: #000;
  color: #fff;
}
.about .con {
  width: 100%;
  max-width: 1300px;
  padding: 20px;
  margin: auto;
  position: relative;
}
.about .con .layout {
  display: flex;
}
@media (max-width: 650px) {
  .about .con .layout {
    flex-direction: column;
  }
}
.about .con .layout .img {
  flex: 1;
  width: 100%;
  padding: 10px;
}
.about .con .layout .img img {
  width: 100%;
  border-radius: 10px;
}
.about .con .layout .text {
  flex: 3;
  width: 100%;
  padding-left: 10px;
}
.about .con .layout .text .titel {
  width: 100%;
  font-size: 30px;
  padding: 15px 0;
}
.about .con .layout .text .text {
  font-size: 20px;
  padding-left: 0px;
  font-weight: 300;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
}
.about .con .layout .text .skil .ti {
  margin-top: 20px;
  font-size: 30px;
}
.about .con .layout .text .skil .cons {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
}
.about .con .layout .text .skil .cons .card {
  margin: 5px 10px;
  margin-left: 0px;
}
.about .con .layout .text .skil .cons .card a {
  padding: 5px 10px;
  background: #141414;
  text-decoration: none;
  color: #fff;
}

.service {
  width: 100%;
  position: relative;
  background: #000;
  background: radial-gradient(circle at bottom left, #0c0c0c 35%, transparent 36%), radial-gradient(circle at top right, #0c0c0c 35%, transparent 36%);
  background-size: 6em 6em;
  background-color: #000000;
  opacity: 1;
  padding: 100px 0px;
}
.service .con {
  width: 100%;
  max-width: 1300px;
  margin: auto;
}
.service .con .titels {
  color: #fff;
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  padding: 20px;
  padding-bottom: 40px;
}
.service .con .m {
  margin-bottom: 30px;
}
.service .con .atropos-rotate {
  border-radius: 10px;
  overflow: hidden;
}
.service .con .card {
  width: 100%;
  height: 400px;
  background-color: #0c0c0c;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 100px #242424;
}
.service .con .card .img {
  height: 100%;
  float: right;
}
.service .con .card .img img {
  height: 100%;
  float: right;
}
.service .con .card .img .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(90deg, black 40%, transparent);
}
.service .con .card .text {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 20px;
}
@media (max-width: 650px) {
  .service .con .card .text {
    padding: 10px;
  }
}
.service .con .card .text .icon {
  font-size: 30px;
}
.service .con .card .text .titel {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 700;
  padding-left: 40px;
  padding-top: 30px;
}
@media (max-width: 650px) {
  .service .con .card .text .titel {
    font-size: 30px;
    padding-left: 10px;
  }
}
.service .con .card .text .titel span {
  font-size: 25px;
  font-family: "Dancing Script", cursive;
}
.service .con .card .text .titel p {
  font-size: 30px;
}
.service .con .card .text .des {
  padding-left: 40px;
  padding-top: 10px;
}
@media (max-width: 650px) {
  .service .con .card .text .des {
    padding-left: 10px;
  }
}
.service .con .card .text .des p {
  width: 60%;
  text-align: justify;
}
@media (max-width: 650px) {
  .service .con .card .text .des p {
    width: 100%;
  }
}
.service .con .card2 {
  width: 100%;
  height: 400px;
  background-color: #0c0c0c;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 100px #242424;
}
.service .con .card2 .img {
  height: 100%;
  float: left;
}
.service .con .card2 .img img {
  height: 100%;
  float: left;
}
.service .con .card2 .img .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(-90deg, black 40%, transparent);
}
.service .con .card2 .text {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: right;
}
@media (max-width: 650px) {
  .service .con .card2 .text {
    padding: 10px;
  }
}
.service .con .card2 .text .icon {
  font-size: 30px;
}
.service .con .card2 .text .titel {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 700;
  padding-left: 40px;
  padding-top: 30px;
}
@media (max-width: 650px) {
  .service .con .card2 .text .titel {
    font-size: 30px;
  }
}
.service .con .card2 .text .titel span {
  font-size: 25px;
  font-family: "Dancing Script", cursive;
}
.service .con .card2 .text .titel p {
  font-size: 30px;
}
.service .con .card2 .text .des {
  padding-left: 40px;
  padding-top: 10px;
}
@media (max-width: 650px) {
  .service .con .card2 .text .des {
    padding-left: 10px;
  }
}
.service .con .card2 .text .des p {
  width: 60%;
  float: right;
  text-align: justify;
}
@media (max-width: 650px) {
  .service .con .card2 .text .des p {
    width: 100%;
  }
}

.skill {
  width: 100%;
  position: relative;
  background-color: #000;
  color: #fff;
}
.skill .con {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.skill .con .titel {
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 50px;
}
@media (max-width: 650px) {
  .skill .con .titel {
    font-size: 30px;
  }
}
.skill .con .card-Con {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.skill .con .card-Con .cardcon {
  width: 200px;
  height: 80px;
  position: relative;
  margin: 10px;
}
@media (max-width: 650px) {
  .skill .con .card-Con .cardcon {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
.skill .con .card-Con .atropos-rotate {
  border-radius: 20px;
  overflow: hidden;
}
.skill .con .card-Con .card {
  width: 200px;
  height: 80px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  background: #242424;
  cursor: pointer;
}
@media (max-width: 650px) {
  .skill .con .card-Con .card {
    width: 100%;
  }
}
.skill .con .card-Con .card .icon {
  position: absolute;
  height: 100%;
  left: -10px;
  top: -20px;
  z-index: 0;
}
.skill .con .card-Con .card .icon img {
  position: relative;
  height: 150%;
  z-index: 1;
}
.skill .con .card-Con .card .name {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: linear-gradient(-90deg, transparent, #242424);
}
.skill .con .card-Con .card .name p {
  font-size: 30px;
}/*# sourceMappingURL=hira.css.map */