@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// font-family: 'Kaushan Script', cursive;
// font-family: 'Staatliches', cursive;
// font-family: 'Montserrat', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
.heroabout{
  width: 100%;
  position: relative;
  height: 50vh;
  @media (max-width:730px) {
    height: 40vh;
  }
}
.aboutHero {
  z-index: 3;
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  position: relative;
  height: 400px;
  @media (max-width:730px) {
    flex-direction: column;
    height: 100vh; 
  }
  .text {
    flex: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    @media (max-width:730px) {
      top: -150px;
    }
    h1 {
      font-size: 45px;
      color: purple;
      padding: 20px;
      @media (max-width:730px) {
        text-align: center;
        font: 35px;
      }
    }
    p {
      font-size: 16px;
      font-weight: 300;
      text-align: justify;

    }
  }
  .img {
    flex: 1;
    width: 100%;
    position: relative;
    .img1 {
      width: 240px;
      position: absolute;
      top: 220px;
      right: 100px;
      transform: rotate(30deg);
      
      
      @media (max-width:850px) {
        width: 200px;
      }
      @media (max-width:730px) {
        display: none;
      }
    }
    .img2 {
      width: 170px;
      position: absolute;
      top: -100px;
      right: 40px;
      transform: rotate(-20deg);
      @media (max-width:1037px) {
        width: 150px;
        right: 180px;
        top: -80px;
      }
      @media (max-width:730px) {
        top: 0;
        right: 0;
        display: none;
       position: relative; 
      }
    }
  }
}

.aboutus {
  width: 100%;
  position: relative;
  background: radial-gradient(
      circle at top,
      transparent 9%,
      #870987 10%,
      #870987 15%,
      transparent 16%
    ),
    radial-gradient(
      circle at bottom,
      transparent 19%,
      #870987 20%,
      #870987 25%,
      transparent 26%
    ),
    radial-gradient(
      circle at right,
      transparent 19%,
      #870987 20%,
      #870987 25%,
      transparent 26%
    ),
    radial-gradient(
      circle at left,
      transparent 9%,
      #870987 10%,
      #870987 15%,
      transparent 16%
    );
  background-size: 6em 6em;
  background-color: #800080;
  opacity: 1;
  overflow: hidden;
  .con {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px 10px;
    padding-top: 100px;
    .titel {
      font-size: 30px;
      color: rgb(255, 195, 255);
      font-weight: 800;

      padding: 20px 0;
    }
    .des {
      font-size: 20px;
      color: aliceblue;
      font-weight: 300;
      padding-bottom: 70px;
    }
  }
}

.why {
  width: 100%;
  position: relative;
  // bg
  .bggr1 {
    position: absolute;
    border-radius: 50%;
    width: 600px;
    height: 600px;
    left: -300px;
    top: -300px;
    border: 60px solid purple;
    z-index: -1;
  }
  .con {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    position: relative;
    .layout {
      width: 100%;
      text-align: center;
      padding: 50px 0;
      .text {
        position: relative;
        .titel {
          font-size: 40px;
          font-weight: 800;
          background: linear-gradient(20deg, rgb(182, 0, 182), rgb(10, 0, 10));
          color: transparent;
          background-clip: text;
        }
        .text {
          padding: 10px;
          border-radius: 20px;
          margin: 10px 0;
          backdrop-filter: blur(20px);
          font-size: 20px;
          font-weight: 300;
          text-align: justify;
        }
      }
    }
  }
}

.portfolio {
  width: 100%;
  position: relative;
  margin-top: 20px;
  .con {
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
    .titel {
      width: 100%;
      text-align: center;
      font-size: 40px;
      font-weight: 800;
      background: linear-gradient(20deg, rgb(182, 0, 182), rgb(10, 0, 10));
      color: transparent;
      background-clip: text;
    }
    .project-con {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .box {
        width: 400px;
        height: 200px;
        position: relative;
      }
    }
  }
}
