@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #853ef8;
  border-radius: 10px;
}

body {
  background: #0a001a;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.main {
  width: 100%;
  position: relative;
  background-color: #0a001a;
  height: 800px;
  z-index: -1;
}
@media (max-width: 800px) {
  .main {
    height: 700px;
  }
}
@media (max-width: 700px) {
  .main {
    height: 600px;
  }
}
@media (max-width: 600px) {
  .main {
    height: 500px;
  }
}
@media (max-width: 500px) {
  .main {
    height: 400px;
  }
}
@media (max-width: 400px) {
  .main {
    height: 300px;
  }
}
.main .header {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.main .header img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 650px) {
  .main .header img {
    width: 100%;
    min-height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.name {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #0a001a;
  z-index: 2;
}
.name .intro {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.name .intro h2 {
  color: transparent;
  background: linear-gradient(0deg, #ccacff, #481699);
  font-size: 30px;
  -webkit-background-clip: text;
  background-clip: text;
  padding-right: 10px;
  transition: all 3s linear;
  font-family: "Kaushan Script", cursive;
}
@media (max-width: 500px) {
  .name .intro h2 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
  }
}
.name .intro h1 {
  color: transparent;
  background: linear-gradient(0deg, #853ef8, #3d0d8a);
  font-size: 80px;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Staatliches", cursive;
  letter-spacing: 3px;
}
@media (max-width: 700px) {
  .name .intro h1 {
    font-size: 70px;
    text-align: center;
    line-height: 60px;
    margin-top: 10px;
  }
}

.about {
  width: 100%;
  padding-bottom: 300px;
  position: relative;
  background: #0a001a;
}
@media (max-width: 500px) {
  .about {
    padding-bottom: 200px;
  }
}
@media (max-width: 400px) {
  .about {
    padding-bottom: 130px;
  }
}
.about .about-con {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}
.about .about-con p {
  color: #d8c4f8;
  font-size: 20px;
  padding-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
@media (max-width: 500px) {
  .about .about-con p {
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
    padding: 0 5px;
    padding-top: 20px;
  }
}

.service {
  width: 100%;
  position: relative;
  background: #0a001a;
  color: #d8c4f8;
}
.service .con {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}
.service .con .box {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;
}
.service .con .box .titel {
  width: 100%;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  padding: 40px 0;
  font-family: "Staatliches", cursive;
  color: #ccacff;
}
.service .con .box .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.service .con .box .row .it {
  padding: 10px 15px;
  background-color: #853ef8;
  margin: 5px;
  border-radius: 6px;
  font-size: 18px;
  text-transform: capitalize;
  transition: all 0.4s linear;
}
@media (max-width: 660px) {
  .service .con .box .row .it {
    font-size: 14px;
  }
}
@media (max-width: 460px) {
  .service .con .box .row .it {
    font-size: 12px;
    padding: 6px 10px;
  }
}
.service .con .box .row .it:hover {
  box-shadow: 0px 0px 3px #d93ef8;
}

.contact {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  position: relative;
  margin-top: 100px;
}
.contact p {
  font-size: 20px;
  position: relative;
}
.contact .but {
  margin-top: 30px;
}
.contact .but a {
  font-size: 20px;
  color: #ccacff;
  font-weight: 800;
  padding: 10px 30px;
  text-decoration: none;
  background-color: #853ef8;
  border-radius: 30px;
  position: relative;
}

.footer_bg {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_bg img {
  width: 100%;
  max-width: 1400px;
  min-height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  margin: auto;
}

footer {
  width: 100%;
  position: relative;
  color: #d8c4f8;
  height: 600px;
  display: flex;
  justify-content: end;
  align-items: center;
  transition: all 0.5s ease;
  flex-direction: column;
  padding-bottom: 20px;
}
@media (max-width: 1300px) {
  footer {
    height: 500px;
  }
}
@media (max-width: 1200px) {
  footer {
    height: 600px;
  }
}
@media (max-width: 1100px) {
  footer {
    height: 500px;
  }
}
@media (max-width: 1000px) {
  footer {
    height: 400px;
  }
}
@media (max-width: 900px) {
  footer {
    height: 300px;
  }
}
footer p {
  padding: 10px;
  position: relative;
}
footer p a {
  color: #d8c4f8;
  text-decoration: none;
  font-weight: 300;
  font-style: italic;
}

.links {
  width: 100%;
  position: relative;
  padding: 10px;
}
.links ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.links ul li {
  position: relative;
  margin: 0 25px;
}
@media (max-width: 560px) {
  .links ul li {
    margin: 0 10px;
  }
}
@media (max-width: 360px) {
  .links ul li {
    margin: 0 5px;
  }
}
.links ul li a {
  text-decoration: none;
  color: #d8c4f8;
  font-size: 35px;
  position: relative;
  background-color: #481699;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
}
@media (max-width: 760px) {
  .links ul li a {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}
.links ul li a i {
  filter: drop-shadow(0 2px 5px #3d0d8a);
  transition: all 0.8s ease;
}
.links ul li a:hover {
  background-color: transparent;
}
.links ul li a:hover > span {
  filter: blur(0px);
  transform: scale(100%);
}
.links ul li a:hover > i {
  transform: translateY(-30px);
  color: #ccacff;
  border-radius: 5px;
  font-size: 20px;
  background-color: #481699;
  padding: 5px;
}
.links ul li a span {
  font-size: 25px;
  position: absolute;
  filter: blur(4px);
  transform: scale(2%);
  transition: all 1s ease;
}
@media (max-width: 760px) {
  .links ul li a span {
    font-size: 20px;
  }
}

nav {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}
nav ol {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 600px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(133, 62, 248, 0.2274509804);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.0352941176);
  margin: auto;
  padding: 10px 30px;
  transition: all 0.4s linear;
}
@media (max-width: 630px) {
  nav ol {
    width: 90%;
  }
}
@media (max-width: 460px) {
  nav ol {
    padding: 7px 20px;
  }
}
nav ol:hover {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
nav ol li {
  padding: 5px;
}
nav ol li a {
  color: #d8c4f8;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  white-space: nowrap;
  transition: all 0.3s linear;
}
@media (max-width: 630px) {
  nav ol li a {
    font-size: 12px;
  }
}
@media (max-width: 430px) {
  nav ol li a {
    padding: 10px 5px;
  }
}
nav ol li a:hover {
  background: rgba(255, 255, 255, 0.1098039216);
  transform: translateY(-10px) scale(104%);
  color: #fff;
  box-shadow: 4px 30px 40px -10px black;
}
nav ol li a i {
  font-size: 22px;
  margin-right: 6px;
}
@media (max-width: 630px) {
  nav ol li a i {
    font-size: 16px;
  }
}

.nh {
  opacity: 0;
  position: relative;
  top: 20px;
  transform: scale(50%);
  transition: all 0.3s linear;
}

.red {
  opacity: 1;
}

.AnimBalon {
  position: absolute;
  width: 500px;
  left: -300px;
  top: -100px;
  transform: rotate(-20deg);
}

.AnimBalon2 {
  position: absolute;
  width: 300px;
  right: -300px;
  top: 10px;
  filter: blur(2px);
  transform: rotate(-20deg);
}

.width-100 {
  width: 100%;
  position: absolute;
  height: 120vh;
  overflow: hidden;
}

@keyframes rota {
  0% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(20deg);
  }
} /*# sourceMappingURL=style.css.map */
