@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #853ef8;
  border-radius: 10px;
}

body {
  background: #0a001a;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.main {
  width: 100%;
  position: relative;
  background-color: #0a001a;
  height: 800px;
  z-index: -1;
}
@media (max-width: 800px) {
  .main {
    height: 700px;
  }
}
@media (max-width: 700px) {
  .main {
    height: 600px;
  }
}
@media (max-width: 600px) {
  .main {
    height: 500px;
  }
}
@media (max-width: 500px) {
  .main {
    height: 400px;
  }
}
@media (max-width: 400px) {
  .main {
    height: 300px;
  }
}
.main .header {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.main .header img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 650px) {
  .main .header img {
    width: 100%;
    min-height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.name {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #0a001a;
  z-index: 2;
  top: -100px;
}
.name .intro {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.name .intro h2 {
  color: transparent;
  background: linear-gradient(0deg, #ccacff, #481699);
  font-size: 30px;
  -webkit-background-clip: text;
          background-clip: text;
  padding-right: 10px;
  transition: all 3s linear;
  font-family: "Kaushan Script", cursive;
}
@media (max-width: 500px) {
  .name .intro h2 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
  }
}
.name .intro h1 {
  color: transparent;
  background: linear-gradient(0deg, #853ef8, #3d0d8a);
  font-size: 80px;
  -webkit-background-clip: text;
          background-clip: text;
  font-family: "Staatliches", cursive;
  letter-spacing: 3px;
}
@media (max-width: 700px) {
  .name .intro h1 {
    font-size: 70px;
    text-align: center;
    line-height: 60px;
    margin-top: 10px;
  }
}

.about {
  width: 100%;
  padding-bottom: 300px;
  position: relative;
  background: #0a001a;
}
@media (max-width: 500px) {
  .about {
    padding-bottom: 200px;
  }
}
@media (max-width: 400px) {
  .about {
    padding-bottom: 130px;
  }
}
.about .about-con {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}
.about .about-con p {
  color: #d8c4f8;
  font-size: 20px;
  padding-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
@media (max-width: 500px) {
  .about .about-con p {
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
    padding: 0 5px;
    padding-top: 20px;
  }
}

.service {
  width: 100%;
  position: relative;
  background: #0a001a;
  color: #d8c4f8;
}
.service .con {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}
.service .con .box {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;
}
.service .con .box .titel {
  width: 100%;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  padding: 40px 0;
  font-family: "Staatliches", cursive;
  color: #ccacff;
}
.service .con .box .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.service .con .box .row .it {
  padding: 10px 15px;
  background-color: #853ef8;
  margin: 5px;
  border-radius: 6px;
  font-size: 18px;
  text-transform: capitalize;
  transition: all 0.4s linear;
}
@media (max-width: 660px) {
  .service .con .box .row .it {
    font-size: 14px;
  }
}
@media (max-width: 460px) {
  .service .con .box .row .it {
    font-size: 12px;
    padding: 6px 10px;
  }
}
.service .con .box .row .it:hover {
  box-shadow: 0px 0px 3px #d93ef8;
}

.contact {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  position: relative;
  margin-top: 100px;
}
.contact p {
  font-size: 20px;
  position: relative;
}
.contact .but {
  margin-top: 30px;
}
.contact .but a {
  font-size: 20px;
  color: #ccacff;
  font-weight: 800;
  padding: 10px 30px;
  text-decoration: none;
  background-color: #853ef8;
  border-radius: 30px;
  position: relative;
}

.footer_bg {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_bg img {
  width: 100%;
  max-width: 1400px;
  min-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

footer {
  width: 100%;
  position: relative;
  color: #d8c4f8;
  height: 600px;
  display: flex;
  justify-content: end;
  align-items: center;
  transition: all 0.5s ease;
  flex-direction: column;
  padding-bottom: 20px;
}
@media (max-width: 1300px) {
  footer {
    height: 500px;
  }
}
@media (max-width: 1200px) {
  footer {
    height: 600px;
  }
}
@media (max-width: 1100px) {
  footer {
    height: 500px;
  }
}
@media (max-width: 1000px) {
  footer {
    height: 400px;
  }
}
@media (max-width: 900px) {
  footer {
    height: 300px;
  }
}
footer p {
  padding: 10px;
  position: relative;
}
footer p a {
  color: #d8c4f8;
  text-decoration: none;
  font-weight: 300;
  font-style: italic;
}

.links {
  width: 100%;
  position: relative;
  padding: 10px;
}
.links ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.links ul li {
  position: relative;
  margin: 0 25px;
}
@media (max-width: 560px) {
  .links ul li {
    margin: 0 10px;
  }
}
@media (max-width: 360px) {
  .links ul li {
    margin: 0 5px;
  }
}
.links ul li a {
  text-decoration: none;
  color: #d8c4f8;
  font-size: 35px;
  position: relative;
  background-color: #481699;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
}
@media (max-width: 760px) {
  .links ul li a {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}
.links ul li a i {
  filter: drop-shadow(0 2px 5px #3d0d8a);
  transition: all 0.8s ease;
}
.links ul li a:hover {
  background-color: transparent;
}
.links ul li a:hover > span {
  filter: blur(0px);
  transform: scale(100%);
}
.links ul li a:hover > i {
  transform: translateY(-30px);
  color: #ccacff;
  border-radius: 5px;
  font-size: 20px;
  background-color: #481699;
  padding: 5px;
}
.links ul li a span {
  font-size: 25px;
  position: absolute;
  filter: blur(4px);
  transform: scale(2%);
  transition: all 1s ease;
}
@media (max-width: 760px) {
  .links ul li a span {
    font-size: 20px;
  }
}

nav {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}
nav ol {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 600px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border: 1px solid rgba(133, 62, 248, 0.2274509804);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.0352941176);
  margin: auto;
  padding: 10px 30px;
  transition: all 0.4s linear;
}
@media (max-width: 630px) {
  nav ol {
    width: 90%;
  }
}
@media (max-width: 460px) {
  nav ol {
    padding: 7px 20px;
  }
}
nav ol:hover {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
nav ol li {
  padding: 5px;
}
nav ol li a {
  color: #d8c4f8;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  white-space: nowrap;
  transition: all 0.3s linear;
}
@media (max-width: 630px) {
  nav ol li a {
    font-size: 12px;
  }
}
@media (max-width: 430px) {
  nav ol li a {
    padding: 10px 5px;
  }
}
nav ol li a:hover {
  background: rgba(255, 255, 255, 0.1098039216);
  transform: translateY(-10px) scale(104%);
  color: #fff;
  box-shadow: 4px 30px 40px -10px black;
}
nav ol li a i {
  font-size: 22px;
  margin-right: 6px;
}
@media (max-width: 630px) {
  nav ol li a i {
    font-size: 16px;
  }
}

.nh {
  opacity: 0;
  position: relative;
  top: 20px;
  transform: scale(50%);
  transition: all 0.3s linear;
}

.red {
  opacity: 1;
}

.AnimBalon {
  position: absolute;
  width: 500px;
  left: -300px;
  top: -100px;
  transform: rotate(-20deg);
}

.AnimBalon2 {
  position: absolute;
  width: 300px;
  right: -300px;
  top: 10px;
  filter: blur(2px);
  transform: rotate(-20deg);
}

.width-100 {
  width: 100%;
  position: absolute;
  height: 120vh;
  overflow: hidden;
}

@keyframes rota {
  0% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
.servicePage {
  position: relative;
}
.servicePage .header {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/bgService.jpg);
  background-size: cover;
  background-position: center;
}
.servicePage .header .titel {
  font-size: 30px;
  color: white;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .servicePage .header .titel {
    font-size: 20px;
    text-align: center;
  }
}
.servicePage .header .titel .hi {
  color: #ac78ff;
}
.servicePage .marketing {
  width: 100%;
  position: relative;
  margin-top: 60px;
  overflow: hidden;
  padding: 10px;
}
.servicePage .marketing .con {
  width: 100%;
  max-width: 1300px;
  margin: auto;
}
.servicePage .marketing .con .titel {
  color: white;
}
.servicePage .marketing .con .cardCon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 5px;
}
.servicePage .marketing .con .cardCon .card {
  width: 400px;
  height: 250px;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  position: relative;
  background-color: #3a1c6b;
  overflow: hidden;
}
@media (max-width: 500px) {
  .servicePage .marketing .con .cardCon .card {
    width: 380px;
  }
}
.servicePage .marketing .con .cardCon .card .num {
  position: absolute;
  font-size: 200px;
  color: rgba(34, 19, 63, 0.2352941176);
  top: -20px;
  left: -80px;
  z-index: 0;
}
.servicePage .marketing .con .cardCon .card .name {
  background: none;
  color: #ac78ff;
  width: 100%;
  font-size: 25px;
  padding-top: 10px;
}
.servicePage .marketing .con .cardCon .card p {
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  padding-top: 10px;
}
.servicePage .marketing .con .cardCon .card a {
  color: #f0aeff;
  text-decoration: none;
  font-size: 13px;
  padding-top: 5px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.scroll {
  width: 100%;
  position: fixed;
  top: 90%;
  color: #fff;
  font-size: 25px;
  z-index: 100000;
  display: flex;
  justify-content: end;
}
.scroll div {
  margin-right: 100px;
  height: 40px;
  width: 40px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  animation: bounce 1.5s linear infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.loadercon {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #470280;
  z-index: 9999999;
}

.loader {
  width: 32px;
  height: 90px;
  display: block;
  margin: 20px auto;
  position: relative;
  border-radius: 50% 50% 0 0;
  border-bottom: 10px solid #FF3D00;
  background-color: #FFF;
  background-image: radial-gradient(ellipse at center, #FFF 34%, #FF3D00 35%, #FF3D00 54%, #FFF 55%), linear-gradient(#FF3D00 10px, transparent 0);
  background-size: 28px 28px;
  background-position: center 20px, center 2px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: animloaderBack 1s linear infinite alternate;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 64px;
  height: 44px;
  border-radius: 50%;
  box-shadow: 0px 15px #FF3D00 inset;
  top: 67px;
}

.loader::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 34px;
  height: 34px;
  top: 112%;
  background: radial-gradient(ellipse at center, #ffdf00 8%, rgba(249, 62, 0, 0.6) 24%, rgba(0, 0, 0, 0) 100%);
  border-radius: 50% 50% 0;
  background-repeat: no-repeat;
  background-position: -44px -44px;
  background-size: 100px 100px;
  box-shadow: 4px 4px 12px 0px rgba(255, 61, 0, 0.5);
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloaderBack {
  0%, 30%, 70% {
    transform: translateY(0px);
  }
  20%, 40%, 100% {
    transform: translateY(-5px);
  }
}
@keyframes animloader {
  0% {
    box-shadow: 4px 4px 12px 2px rgba(255, 61, 0, 0.75);
    width: 34px;
    height: 34px;
    background-position: -44px -44px;
    background-size: 100px 100px;
  }
  100% {
    box-shadow: 2px 2px 8px 0px rgba(255, 61, 0, 0.5);
    width: 30px;
    height: 28px;
    background-position: -36px -36px;
    background-size: 80px 80px;
  }
}/*# sourceMappingURL=style.css.map */